<!doctype html>
<html>
    <head>
        <title>LES Ethereum Statistics</title>
        <script type="text/javascript" src="static/js/main.js"></script>
    </head>
    <body>
        <h1>About Ethereum LES Protocol</h1>
    </body>
</html>