<!doctype html>
<html>
    <head>
        <title>LES Ethereum Statistics</title>
        <script type="text/javascript" src="static/js/main.js"></script>
    </head>
    <body>
        <h1>Ethereum LES Protocol live statistics</h1>
        <a href="/chart">Chart</a>
    </body>
</html>